<!-- dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenreWrapped Dashboard</title>


    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

</head>


<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">GenreWrapped Dashboard</h3>
                        <!-- You can use EJS tags to dynamically display user data -->
                        <p class="card-text text-center">Welcome, <%= user.display_name %>!</p>
                        <p class="card-text text-center">Your Spotify ID: <%= user.id %>
                        </p>
                        <!-- Add more data displays here as needed -->

                        <!-- Two-column layout for top tracks and top artists -->
                        <div class="row">
                            <!-- Top Tracks Column -->
                            <div class="col-md-6">
                                <h4>Top 10 Tracks</h4>
                                <div class="timeframe-selection">
                                    <label for="track-timeframe">Select Timeframe:</label>
                                    <select id="track-timeframe">
                                        <option value="short_term" <% if (trackTimeframe==='short_term' ) { %> selected
                                            <% } %>>Last 4 weeks
                                        </option>
                                        <option value="medium_term" <% if (trackTimeframe==='medium_term' ) { %>
                                            selected <% } %>>Last 6 months</option>
                                        <option value="long_term" <% if (trackTimeframe==='long_term' ) { %> selected <%
                                                } %>>Entire history</option>
                                    </select>
                                </div>
                                <!-- Display top tracks here -->
                                <ul>
                                    <% topTracks.forEach((track)=> { %>
                                        <li>
                                            <img src="<%= track.album.images[0].url %>" alt="<%= track.album.name %>"
                                                class="track-img">
                                            <%= track.name %> - <%= track.artists[0].name %>
                                        </li>
                                        <% }); %>
                                </ul>
                            </div>

                            <!-- Top Artists Column -->
                            <div class="col-md-6">
                                <h4>Top 10 Artists</h4>
                                <div class="timeframe-selection">
                                    <label for="artist-timeframe">Select Timeframe:</label>
                                    <select id="artist-timeframe">
                                        <option value="short_term" <% if (artistTimeframe==='short_term' ) { %> selected
                                            <% } %>>Last 4 weeks
                                        </option>
                                        <option value="medium_term" <% if (artistTimeframe==='medium_term' ) { %>
                                            selected
                                            <% } %>>Last 6 months
                                        </option>
                                        <option value="long_term" <% if (artistTimeframe==='long_term' ) { %> selected
                                            <% } %>>Entire history
                                        </option>
                                    </select>
                                </div>
                                <!-- Display top artists here -->
                                <ul>
                                    <% topArtists.forEach((artist)=> { %>
                                        <li>
                                            <img src="<%= artist.images[0].url %>" alt="<%= artist.name %>"
                                                class="artist-img">
                                            <%= artist.name %>
                                        </li>
                                        <% }); %>
                                </ul>
                            </div>

                            <!-- Search Section -->
                            <div class="col-md-12">
                                <h4>Search</h4>
                                <div class="search-container">
                                    <select class="form-control" id="search-bar"></select>
                                </div>
                                <select id="search-type">
                                    <option value="track">Track</option>
                                    <option value="artist">Artist</option>
                                    <option value="album">Album</option>
                                    <option value="playlist">Playlist</option>
                                    <option value="show">Show</option>
                                    <option value="episode">Episode</option>
                                    <option value="audiobook">Audiobook</option>
                                </select>
                                <button id="search-button">Search</button>
                            </div>
                            <div id="detailed-info" style="display: none;">
                                <p id="detail-name">Name: </p>
                                <p id="detail-spotify-id">Spotify ID: </p>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Script for top 10 -->
    <script>
        // Function to update the URL and trigger a page reload with the selected timeframes
        function updateDashboard(timeframeType, timeframeValue) {
            const url = new URL(window.location.href);
            url.searchParams.set(timeframeType, timeframeValue);
            console.log('Updated URL:', url.toString());
            window.location.href = url.toString();
        }

        // Function to set the selected option in the dropdown based on the URL query parameters
        function setSelectedOption(selectId, defaultValue) {
            const url = new URL(window.location.href);
            const selectedValue = url.searchParams.get(selectId);
            console.log('Selected Value:', selectedValue); // Add this line for debugging
            const selectElement = document.getElementById(selectId);
            selectElement.value = selectedValue || defaultValue;
        }

        // Event listeners for timeframe selection
        document.getElementById('track-timeframe').addEventListener('change', function () {
            console.log('Track timeframe selected:', this.value);
            updateDashboard('track-timeframe', this.value);
        });

        document.getElementById('artist-timeframe').addEventListener('change', function () {
            console.log('Artist timeframe selected:', this.value);
            updateDashboard('artist-timeframe', this.value);
        });

        // Set the selected options for the dropdowns on page load
        document.addEventListener('DOMContentLoaded', function () {
            setSelectedOption('track-timeframe', 'short_term');
            setSelectedOption('artist-timeframe', 'short_term');
        });
    </script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Search script -->
    <script src="/search.js"></script>
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</body>

</html>